<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add article</title>
</head>
<body>
    <h1>Add article</h1>
    <div th:replace="partials/navigation"></div>

    <form method="post">
        <label for="title">Write article title</label>
        <input id="title" name="title" required minlength="5" maxlength="20" placeholder="Write article title" />
        <br/>

        <label for="category">Select article category</label>
        <select id="category" name="category">
            <option th:each="item: ${categories}" th:text="${item}"></option>
        </select>
        <br/>

        <label for="content">Write article content</label>
        <textarea id="content" name="content" required minlength="5" maxlength="200" rows="3">Write article content</textarea>
        <br/>

        <button>Save</button>
    </form>

    <div th:replace="partials/footer"></div>
</body>
</html>
