<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
</head>
<body>
	<h1>Blog!</h1>
	<div th:replace="partials/navigation"></div>

	<form>
		<label for="month">Write month</label>
		<input id="month" th:value="${month}" name="m" type="number" placeholder="Write month" min="1" max="12" step="1"/>

		<label for="year">Write year</label>
		<input id="year" th:value="${year}" name="y" type="number" placeholder="Write year" min="2020" max="2050" step="1"/>

		<label for="c">Select category</label>
		<select id="c" name="c">
			<option th:each="item: ${categories}" th:text="${item}" th:selected="${item == category}"></option>
		</select>

		<button>Filter</button>
		<a href="/blog">Clear</a>
	</form>
	<hr/>

	<div th:each="item: ${items}">
		<p>Title: <span th:text="${item.getTitle()}"></span></p>
		<p>Content: <span th:text="${item.getContent()}"></span></p>
		<p>Created at: <span th:text="${#temporals.format(item.getCreatedAt(), 'dd-MM-yyyy HH:mm')}"></span></p>
		<hr/>
	</div>

	<div th:replace="partials/footer"></div>
</body>
</html>
