<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
</head>
<body>
	<h1>Blog!</h1>
	<div th:replace="partials/navigation"></div>

	<div th:each="item: ${items}">
		<p>Title: <span th:text="${item.getTitle()}"></span></p>
		<p>Content: <span th:text="${item.getContent()}"></span></p>
		<p>Created at: <span th:text="${#temporals.format(item.getCreatedAt(), 'dd-MM-yyyy HH:mm')}"></span></p>
		<hr/>
	</div>

	<div th:replace="partials/footer"></div>
</body>
</html>
